div.row div.list-group button.list-group-item {
    background-color: white;
    color: black;
}

div.row div.list-group button.list-group-item:focus {
    background-color: #009688;
    color: white;
}

ul.pull-left li a {
    color: black;
}

ul.pull-left li a:focus {
    background-color: #009688;
    color: white;
}

div.well {
    background: rgba(255, 255, 255, 0.9);
           -webkit-box-shadow: 10px 10px 6px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 6px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 6px -9px rgba(0, 0, 0, 0.75); 
}

.btnContainer {
    margin-bottom: 15px;
}

.sidebar {
    margin-right: 10px;
    -webkit-box-shadow: 10px 10px 6px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 6px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 6px -9px rgba(0, 0, 0, 0.75);
}

.list-group {
    
    -webkit-box-shadow: 10px 10px 6px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 6px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 6px -9px rgba(0, 0, 0, 0.75); 
}

button.list-group-item{
    padding: 5px;
}

.panel.panel-default{
    padding: 0px;
    margin: 2px;

}
/*
.customButton {
    color: white;
    background-color: red;
}
*/


button.customButton.btn.btn-default:focus{
    color: white;
    background-color: #EE4B28;

}

