body,
html {
    height: 100%;
    width: 100%;
}
body {
    font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
    webkit-tap-highlight-color: #222
}
button.list-group-item {
    padding-left: 10%;
}
.scrollable {
	overflow-y: scroll;
	height: 68vh;
}
.length-entire-viewport {
	height: 100vh;
}