body,
html {
    height: 100%;
    width: 100%;
}
body {
    font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
    webkit-tap-highlight-color: #222
}
.item-in-list: {
	margin: 100px;
}
.scrollable {
	overflow-y: scroll;
	height: 68vh;
}
.length-entire-viewport {
	height: 100vh;
}